# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Visual Studio Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

!**/src\main\resources\META-INF\persistence.xml
/BBDD2/src/main/resources/META-INF
BBDD1/src/main/resources/META-INF/beans.xml
